body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom:  3px solid darkblue;
    background-color: white;
}

.headeri {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    color: darkblue;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header ul li a {
    text-decoration: none;
    color: darkblue;
    font-size: 18px;
    font-weight: 500;
}

header ul li a:hover {
    color: red; 
}


.bgfoto {
    background-color: aliceblue;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bgfoto h1 {
    color: darkblue;
    font-size: 40px;
}

.subtext {
    color: darkblue;
    font-size: 18px;
}

.butoni_bg {
    height: 40px;
    padding: 0 20px;
    background-color: red; 
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.butoni_bg:hover {
    background-color: darkred;
}

footer {
    padding: 40px 50px 20px 50px;
    background-color: darkblue;
    color: white;
    margin-top: 50px;
}

.f {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.f h2 {
    color: white;
    font-size: 20px;
}

.fundi {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 30px;
    border-top: 1px solid white;
    padding-top: 10px;
}
.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 10px 50px;
}

.section-title h3 {
    color: darkblue;
    font-size: 22px;
}
.content-padding {
    padding: 0 50px 50px 50px;
}

.text-blue {
    color: darkblue;
}

.details-info {
    margin-bottom: 10px;
    font-size: 16px;
}
.fotografit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 50px;
}

.rubrika {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 2px 2px 5px lightgray;
}

.rubrika h3 {
    color: darkblue;
}

.img-placeholder {
    width: 100%;
    height: 150px;
    background-color: darkblue; 
}

.view-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.link-red {
    color: red;
    text-decoration: none;
}